$body-background-colour: #ededed !default;
$primary-font: "Helvetica Neue", "Trebuchet MS", Helvetica, Arial, sans-serif !default;
$primary-colour: #275543 !default;
$primary-colour-inverse: #fff !default;
$primary-background: #fff !default;
$primary-background-inverse: $primary-colour !default;
$secondary-font: "Helvetica Neue", "Trebuchet MS", Helvetica, Arial, sans-serif !default;
$text-colour: #000 !default;
$highlight-colour: #779c89 !default;
$highlight-colour-inverse: #fff !default;
$muted-colour: #ccc !default;
$header-background: url('/grad_green.png') repeat-x !default;
$header-background-inverse: #fff !default;
$link-colour: #3377a6 !default;
$link-visited-colour: #339 !default;
$personaltools-background: #75ad0a !default;


body {
  background-color: $body-background-colour;
  font-family: $primary-font;
  height: 100%;
}

// Header rules
#portal-header {
  background: $header-background;
}

// Typography rules
h1 {
  color: $primary-colour;
  font-family: $secondary-font;
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: -.06em;
  margin-bottom: .5em;
  padding-top: .5em;
  @at-root #portal-logo & {
    color: $header-background-inverse;
  }
}

h2 {
  color: lighten($primary-colour, 10%);
  font-family: $secondary-font;
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: .5em;
  padding-top: .5em;
}

h3 {
  color: lighten($primary-colour, 20%);
  font-family: $primary-font;
  font-weight: bold;
}

h4 {
  color: lighten($primary-colour, 30%);
  font-family: $primary-font;
  font-weight: bold;
}

h5 {
  color: lighten($primary-colour, 40%);
  font-family: $primary-font;
}

p {
  color: $text-colour;
}

a {
  color: $link-colour;
  &:link, &:visited {
    color: $link-visited-colour;
  }
}

// Content Wrapper
#visual-portal-wrapper {
  overflow: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  background: $primary-background;
  min-height: 100%;
  border-left: 1px solid $muted-colour;
  border-right: 1px solid $muted-colour;
}

#portal-top {
  background: $primary-background;
}

#portal-personaltools {
  background: none transparent;
  float: right;
  font-size: 80%;
  padding: 0.25em 0.5em;
  position: relative;
  right: 0;
  top: 0;
  z-index: 3;

  #anon-personalbar a {
    color: $primary-background-inverse;
    float: left;
    margin: 0 0.5em;
  }
  dd {
    padding-bottom: 0.5em;
    background: $personaltools-background;
  }
}

dl.actionMenu {
  a, div {
    color: $primary-colour-inverse;
  }
}

// Search bar
#portal-searchbox {
  clear: right;
  float: right;
  font-size: 80%;
  text-align: left;
  width: 100%;
  background-color: $highlight-colour;
  background-size: 100%;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 2px solid $highlight-colour;
  display: none;
  form {
    float: right;
    padding: 5px 5px 5px 0px;
  }
}

#searchGadget,
.LSBox input.searchButton {
  background-color: $primary-background;
  color: $text-colour;
  border: 1px $text-colour solid;
}

.searchSection {
  color: $primary-colour-inverse;
}

#search-filter .field {
  background-color: $primary-colour;
  margin: 0;
  padding: 1em 1.5em;
}

// Global navigation rules
#portal-globalnav {
  background: $highlight-colour;
  clear: both;
  font-size: 0.9em;
  margin: 0;

  li {
    margin-left: .3em;
    a {
      background: none;
      border-right: 0;
      clear: both;
      color: $highlight-colour-inverse;
      display: inline-block;
      font-size: 80%;
      font-weight: normal;
      width: auto;
      text-align: center;
      padding-bottom: .7em;
      min-width: 0%;
    }
  }

  a:hover,
  .selected a {
    background: $primary-background;
    clear: both;
    color: $primary-background-inverse;
    font-size: 80%;
  }

  .selected a:hover {
    color: $primary-background-inverse;
    background-color: $primary-background;
  }
}

// Table Display Rules
table.listing {
  border: normal;
  td {
    border: normal;
  }
  th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: $highlight-colour;
    color: $highlight-colour-inverse;
    text-align: left;
  }
  tbody tr.odd td {
    background: $muted-colour;
  }
}

// Content Core Rules
#content {
  clear: both;
  font-size: 80%;
  line-height: 1.5em;
  max-width: 100%;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
  }

  .documentFirstHeading {
    font-size: 2em;
  }

  a {
    color: $link-colour;

    &:hover {
      color: $highlight-colour !important;
    }

    &:link,
    &:visited {
      border: 0 none;
      text-decoration: none;
    }
  }

  .internal-link {
    font-size: 100%;
  }

  .documentDescription {
    margin: 0.5em 0;
  }
}

// Portal Column Rules
#portal-column-one,
#portal-column-two {
  background: $primary-background;
  overflow: visible;
}

dl.portlet {
  a:hover {
    color: $highlight-colour !important;
  }
  dt {
    background-color: $primary-colour;
    line-height: normal;
    padding: .42em 1em;
    color: $primary-colour-inverse;
    font-family: $secondary-font;

    a {
      &:link,
      &:visited,
      &:hover {
        color: $primary-colour-inverse;
        display: block;
        font-family: $secondary-font;
        text-decoration: none;
      }
    }
  }
}

dt.portletHeader {
  color: $primary-colour;
  font-size: 1.5em;
  font-weight: normal;
}

dl.portlet {
  background-color: $body-background-colour;
  font-size: 70%;

  a {
    border: 0 none;
    &:visited {
      text-decoration: none;
    }
  }
}

.blockedPortlet .portletBlockedMessage {
  color: $muted-colour;
}

.tileFooter {
  // border-bottom: .1em dotted #cccccc;
  padding-bottom: 1em;
  padding-top: 1em;
}

// Footer
#portal-footer-wrapper {
  border-top: .5em solid $muted-colour;
  margin-top: 2em;
  padding-top: 1.5em;
}

#portal-footer {
  background-color: $primary-background;
}

// Custom styles
p {
  &.paragraph-highlight-grey {
    background-color: $muted-colour;
    padding: 1em;
  }

  &.paragraph-spaced-images a {
    margin-left: .25em;
    margin-right: .25em;
  }
}

.twitter-timeline[style] {
  min-width: 100% !important;
}

dl.TwitterWidgetPortlet dd {
  &.portletItem {
    padding-bottom: 0;
    padding-top: 0;
  }

  &.portletFooter {
    padding: 0;
  }
}

