@charset 'utf-8';

$body-background-colour: #ededed;
$primary-font: "Trebuchet MS", Helvetica, sans-serif;
$primary-colour: #275543;
$primary-colour-inverse: #fff;
$primary-background: #fff;
$secondary-font: "Trebuchet MS", Helvetica, sans-serif;
$text-colour: #000;
$highlight-colour: #a6bbb0;
$highlight-colour-inverse: #fff;
$muted-colour: #ccc;
$header-background: url('/grad_green.png') repeat-x;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-background-colour;
  font-family: $primary-font;
  height: 100%;
}

.clearfix {
  display: block;
  height: 1%;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    line-height: 0;
    content: ' ';
    clear: both;
    height: 0;
    width: 0;
  }
}

.clear {
  font-size: 100%;
}

// Header rules
#portal-header {
  background: $header-background;
  background-size: contain;
  position: relative;
  z-index: 2;
  img {
    float: left;
    max-width: 250px;
  }
}

#portal-logo {
  text-align: right;
  margin: 2em 1em;
  right: 1em;
  position: absolute;
  max-width: 70%;
  padding-top: .5em;
  line-height: .9em;
}

.section-home #portal-breadcrumbs {
  display: none;
}

// Typography rules
h1 {
  color: $primary-colour;
  font-family: $secondary-font;
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: .5em;
  padding-top: .5em;
}

h2 {
  color: lighten($primary-colour, 5%);
  font-family: $secondary-font;
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: .5em;
  padding-top: .5em;
}

h3 {
  color: lighten($primary-colour, 10%);
  font-family: $primary-font;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h5 {
  color: lighten($primary-colour, 15%);
  font-family: $primary-font;
  margin: 0;
  padding: 0;
}

p {
  color: $text-colour;
}

a {
  &:link, &:visited {
    color: #339;
  }
}

// Content Wrapper

#visual-portal-wrapper {
  overflow: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  background: $primary-background;
  min-height: 100%;
  border-left: 1px solid $muted-colour;
  border-right: 1px solid $muted-colour;
}

#portal-top {
  background: $primary-background;
}

#portal-personaltools {
  background: none transparent;
  float: right;
  font-size: 80%;
  padding: 0.25em 0.5em;
  position: relative;
  right: 0;
  top: 0;
  z-index: 3;

  #anon-personalbar a {
    color: $primary--inverse;
    float: left;
    margin: 0 0.5em;
  }
  dd {
    padding-bottom: 0.5em;
    background-color: #75AD0A;
  }
}

dl.actionMenu {
  a, div {
    color: $primary-colour-inverse;
  }
}

// Search bar
#portal-searchbox {
  clear: right;
  float: right;
  font-size: 80%;
  text-align: left;
  width: 100%;
  background-color: $highlight-colour;
  background-size: 100%;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 2px solid $highlight-colour;
  display: none;
  form {
    float: right;
    padding: 5px 5px 5px 0px;
  }
}

#searchGadget,
.LSBox input.searchButton {
  background-color: $primary-background;
  color: $text-colour;
  border: 1px $text-colour solid;
}

#searchGadget {
  width: 10em;
}

.searchSection {
  color: $primary-colour-inverse;
}

#search-filter .field {
  background-color: $primary-colour;
  margin: 0;
  padding: 1em 1.5em;
}

// Global navigation rules
#portal-globalnav {
  background: $highlight-colour;
  clear: both;
  font-size: 85%;
  margin: 0;

  li {
    margin-left: .3em;
    a {
      background: none;
      border-right: 0;
      clear: both;
      color: $text-colour;
      display: inline-block;
      font-size: 80%;
      font-weight: normal;
      width: auto;
      text-align: center;
      padding-bottom: .7em;
      min-width: 0%;
    }
  }

  a:hover,
  .selected a {
    background: $primary-background;
    clear: both;
    color: $highlight-colour;
    font-size: 80%;

    &:hover {
      color: $highlight-colour;
    }
  }
}

// Table Display Rules
table.listing {
  border: normal;
  td {
    border: normal;
  }
  th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: $highlight-colour;
    color: $highlight-inverse-colour;
    text-align: left;
  }
  tbody tr.odd td {
    background: $muted-colour;
  }
}

// Content Core Rules
#content {
  clear: both;
  font-size: 80%;
  line-height: 1.5em;
  max-width: 100%;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
  }

  h1 {
    color: $primary-colour;
    letter-spacing: normal;
    padding-bottom: 5px;
    &.documentFirstHeading {
      font-size: 2em;
      margin-bottom: .5em;
      margin-top: 0;
    }
  }

  a {
    &:hover {
      color: $highlight-colour !important;
    }

    &:link,
    &:visited {
      border: 0 none;
      text-decoration: none;
    }
  }

  .internal-link {
    font-size: 100%;
  }

  .documentDescription {
    margin: 0.5em 0;
  }

}

#content-core {
  background-repeat: no-repeat;
  background-size: contain;
}

// Portal Column Rules
#portal-columns {
  padding-top: 1.5em;
}

#portal-column-content {}

#portal-column-one {
  background: $primary-background;
  overflow: visible;
}

#portal-column-two {
  overflow: visible;
  img {
    padding-bottom: 10px;
  }
}

dt.portletHeader {
  color: $primary-colour;
  font-size: 1.5em;
  font-weight: normal;
}

.blockedPortlet .portletBlockedMessage {
  color: $muted-colour;
}

dl.portlet {
  a:hover {
    color: $highlight-colour !important;
  }
  dt {
    background-color: $primary-colour;
    line-height: normal;
    padding: .42em 1em;
    color: $primary-colour-inverse;
    font-family: $secondary-font;

    a {
      &:link,
      &:visited,
      &:hover {
        color: $primary-colour-inverse;
        display: block;
        font-family: $secondary-font;
        text-decoration: none;
      }
    }
  }
}

#description {
  margin: .5em 0;
}

dl.portlet {
  background-color: $body-background-colour;
  font-size: 70%;

  a {
    border: 0 none;
    &:visited {
      text-decoration: none;
    }
  }
}

#documentEditable {
  display: block;
  padding-right: 15px;
  width: 786px;
}

.tileFooter {
  // border-bottom: .1em dotted #cccccc;
  padding-bottom: 1em;
  padding-top: 1em;
}

// Footer
#portal-footer-wrapper {
  border-top: .5em solid $muted-colour;
  margin-top: 2em;
  padding-top: 1.5em;
}

#portal-footer {
  background-color: $primary-background;
}

// Fixes
.mceToolbar {
  white-space: normal !important;
}

.multipleSelectionWidget dt {
  display: block !important;
}

#parent-fieldname-text.plain {
  padding-bottom: 0;
}

.image-inline {
  float: none;
  margin: 0;
  max-width: 100%;
  vertical-align: text-bottom;
}

// Custom styles
p {
  &.paragraph-highlight-grey {
    background-color: $muted-colour;
    padding: 1em;
  }

  &.paragraph-spaced-images a {
    margin-left: .25em;
    margin-right: .25em;
  }
}

.twitter-timeline[style] {
  min-width: 100% !important;
}

dl.TwitterWidgetPortlet dd {
  &.portletItem {
    padding-bottom: 0;
    padding-top: 0;
  }

  &.portletFooter {
    padding: 0;
  }
}

// Responsive design
@media screen and (max-width: 480px) {
  #portal-logo {
    font-size: 70%;
    margin: 0;
    position: relative;
    right: inherit;
  }

  #portal-header img {
    max-width: 30%;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  #portal-logo {
    font-size: 80%;
    max-width: 45%;
  }
}

// Responsive code
.embed-responsive {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  .embed-responsive-item, iframe, embed, object, video {
    border: 0 none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }

  &.embed-responsive-4by3 {
    padding-bottom: 75%;
  }
}

// Site customisations
.site-nccarf {
  h2 {
    color: #C33;
  }

  #portal-header {
    background: #F00;
  }

  #portal-searchbox {
    background-color: #990;
    border-bottom: 2px solid #660;
  }

  #portal-globalnav {
    background-color: #c33;

    li a {
      color: white;
    }

    a:hover, .selected a {
      background-color: white;
      color: #900;
    }

    .selected a:hover {
      background-color: #990;
      color: #660;
    }
  }

  #content {
    h1, h2 {
      color: #990;
    }
  }

  #content a:hover {
    color: #660 !important;
  }

  dl.portlet dt {
    background: #cc3;
  }
}
